.home-container  {
    margin-top: 5%;
    justify-content: center;
    align-items: center;
}

#title, #slogan, #create-budget {
    color: white;
    text-align: center;
}

#title {
    font-size: 400%;
    margin-left: 2%;
    margin-bottom: 1%;
}

#slogan {
    font-size: 200%;
}

#budget-logo-main {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    margin-left: 30%;
}

#budget-logo-main, #title {
    display: inline-table;
}

#create-budget-text {
    margin-top: 10%;
}

#create-budget-image {
    margin-top: 2%;
    background-color: orange;
    border-radius: 50%;
    filter: invert(100%);
}

#create-budget-button {
    border-radius: 50%;
}

#create-budget-image:hover {
    transform: scale(1.05);
    cursor: pointer;
    opacity: 0.6;
}

/* MEDIA QUERIES */

/* Tablet */

@media (min-width: 481px) and (max-width: 900px) {
    #title {
        font-size: 300%;
    }
    
    #slogan {
        font-size: 150%;
    }
    
    #budget-logo-main {
        margin-left: 20%;
    }

    #create-budget-text {
        margin-top: 30%;
    }
}

/* Smartphone */

@media (max-width: 480px) {
    #title {
        font-size: 200%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    
    #slogan {
        font-size: 100%;
    }
    
    #budget-logo-main {
        display: none;
    }

    #create-budget-text {
        margin-top: 40%;
    }
}
