#budget-name {
    color: white;
    font-size: 200%;
}

#budget-amount-container, #budget-amount-left-container, #budget-category-container, #budget-reset-period-container {
    color: white;
    display: inline-block;
    margin-left: 5%;
    margin-right: 5%;
    padding: 2%;
    overflow-wrap: break-word;
}

.name, .amount-left, .reset-period {
    color: white;
}

.amount {
    color: rgb(243, 72, 72);
}

#your-expenses-title {
    color: white;
}

#your-expenses {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    z-index: 1;
    height: 100%;
    margin-left: 7%;
}

.expense, #create-expense {
    display: block;
    position: relative;
    border: 3px solid black;
    background-color: rgb(31, 31, 31);
    border-radius: 10px;
    width: 180px;
    height: 180px;
    margin: 4px;
    z-index: 1;
    cursor: pointer;
}

.expense:hover, #create-expense:hover {
    transform: scale(1.05);
    opacity: 0.6;
}

#create-expense-image {
    position: relative;
    margin-top: 30%;
    width: 80px;
    height: 80px;
    filter: invert(100%);
}