h2, h3 {
    color: white;
}

h3 {
    font-size: 120%;
}

.register {
    float: right;
    padding: 8px;
    position: relative;
    top: 30%;
    right: 2%;
    cursor: pointer;
}

#title {
    font-size: 400%;
    margin-left: 2%;
    margin-bottom: 1%;
}

#budget-logo-main {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    margin-left: 30%;
}

#budget-logo-main, #title {
    display: inline-table;
}

#intro-text {
    text-align: center;
}

.budget-buddy-description {
    width: 90%;
    margin-top: 3%;
    margin-bottom: 20%;
    margin-left: 5%;
}

.feature {
    font-family: arial;
}

.index-container, #budgets-index, #expenses-index, #notifications-index, #paypal-index {
    justify-content: center;
    align-items: center;
}

#budgets-index-text, #notifications-index-text {
    position: relative;
    float: right;
}

#budgets-index-image, #notifications-index-image {
    position: relative;
    margin-left: 45%;
    margin-top: 1%;
}

#expenses-index-image, #paypal-index-image {
    float: left;
    margin-top: 1%;
}

#expenses-index-text, #paypal-index-text {
    position: relative;
    margin-left: 20%;
}

#paypal-index-text {
    padding-top: 2%;
}

#notifications-index-text {
    padding: 1%;
    margin-left: 3%;
}

#budgets-index-image, #expenses-index-image, #notifications-index-image, #paypal-index-image {
    width: 150px;
    height: 150px;
}

#budgets-index-text, #expenses-index-text, #notifications-index-text, #paypal-index-text {
    width: 35%;
    position: relative;
}

#notifications-index-image {
    filter: invert(100%);
}

#get-started {
    padding: 4%;
    text-align: center;
}

#sign-up-button {
    width: 15%; 
    border-radius: 5%;
    height: 50px;
    background-color: dodgerblue;
    font-weight: bold;
    font-size: large;
    display: block;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}

footer {
    font-size: x-large;
    position: fixed;
    bottom: 6%;
    left: 40%;
    height: 2.5vh;
    width: 100%;
    z-index: 3;
}

.ad {
    cursor: pointer;
}