#your-budgets {
    background-color: black;
    border-radius: 6px;
    width: 85%;
    margin-top: 5%;
    margin-bottom: 3%;
    padding: 3%;
}

.category-budgets {
    color: white;
    font-size: 200%;
    width: 100%;
}

#create-budget-button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.budget {
    position: relative;
    z-index: 1;
}

.budget, #create-budget-button {
    border-style: double;
    border-radius: 10px;
    border-color: white;
    border-width: 2px;
    border-spacing: 3px;
    padding-top: 2%;
    padding-bottom: 2%;
    background-color: rgb(72, 74, 73);
    cursor: pointer;
}

.budget:hover, #create-budget-button:hover {
    transform: scale(1.01);
    cursor: pointer;
    opacity: 0.8;
}

#create-budget-image, #create-budget-text {
    display: inline-table;
}

#create-budget-image {
    width: 40px;
    height: 40px;
    filter: invert(100%);
}

#create-budget-text {
    text-align: justify;
}

.view-budget, .edit-budget, .delete-budget {
    display: inline-table;
    position: absolute;
    z-index: 3;
    top: 4%;
}

.delete-budget { 
    right: 2%;
}

.edit-budget { 
    right: 6%;
}

.view-budget {
    right: 10%;
}

.view-budget-img, .edit-budget-img, .delete-budget-img {
    width: 25px;
    height: 25px;
    filter: invert(100%);
}

.name, .amount, .reset-period {
    color: white;
    display: inline-block;
    overflow-wrap: break-word;
}

.name {
    margin-left: 3%;
    margin-right: 7%;
}

.amount {
    margin-left: 10%;
    margin-right: 10%;
}

.reset-period {
    margin-left: 7%;
    margin-right: 3%;
}