::-webkit-scrollbar {
    display: none;
}

body {
    overflow-x: hidden;
    max-width:100%;
    height: 100%;
    background-color: rgb(43, 43, 43);
} 

html {
    overflow-x: hidden;
    max-width:100%;
    height: 100%;
}

#budget-brand-name {
    color: white;
    position: relative;
    bottom: 10%;
    left: 2%;
}

#budget-logo {
    position: relative;
    top: 4%;
    left: 1%;
    width: 3%;
    padding-top: 1%;
}

#budget-logo, #budget-brand-name, #notification-bell, #profile-picture {
    display: inline-table;
}

#budget-logo, #budget-brand-name, .register {
    display: inline-table;
}

.top {
    width: 100%;
    position: fixed;
    height: 13%;
    right: 0;
    top: 0;
    background-color: black;
    z-index: 3;
}

#main-container {
    position: absolute;
    right: 0;
    width: 80%;
    height: fit-content;
    background-color: rgb(43, 43, 43);
    top: 10%;
}

.content {
    float: right;
    width: 100%;
    position: relative;
    top: 10%;
    margin-top: 2%;
}

#menu-container {
    float: left; 
    width: 20%;
    height: 100%;
    position: fixed;
    background-color: rgb(28, 27, 27);
    top: 0px;
    left: 0px;
    z-index: 2;
}

.menu {
    position: relative;
    left: 10%;
    top: 15%;
}

[id*="option"] {
    color: white;
    font-size: 20px;
    width: 200px;
    border-radius: 5px;
    transition-duration: 0.4s;
    margin-left: 10px;
    margin-bottom: 15px;
}

[id*="option"]:hover {
    background-color: #a49c9c;
    width: 70%;
    cursor: pointer;
}

#home-icon, #budgets-icon, #create-icon, #settings-icon {
    width: 25px;
    height: 25px;
    filter: invert(100%);
}

#paypal-icon {
    width: 25px;
    height: 25px;
}

#home, #home-icon {
    display: inline;
    font-size: x-large;
}

#budgets, #budgets-icon {
    display: inline;
    font-size: x-large;
}

#create, #create-icon {
    display: inline;
    font-size: x-large;
}

#settings, #settings-icon {
    display: inline;
    font-size: x-large;
}

#paypal, #paypal-icon {
    display: inline;
    font-size: x-large;
}

#footer {
    width: 100%;
    position: fixed;
    height: 12%;
    right: 0;
    bottom: 0;
    background-color: black;
    z-index: 3;
}

.subtitle {
    color: white;
    font-size: 200%;
    width: 100%;
    margin-left: 7%;
}

a {
    color: white;
}
