#your-budgets {
    background-color: black;
    border-radius: 6px;
    width: 85%;
    margin-top: 5%;
    margin-bottom: 20%;
    padding: 3%;
}

.category-budgets {
    color: white;
    font-size: 200%;
    width: 100%;
}

.budget {
    border-style: double;
    border-radius: 10px;
    border-color: white;
    border-width: 2px;
    border-spacing: 3px;
    padding-top: 2%;
    padding-bottom: 2%;
    background-color: rgb(72, 74, 73);
    cursor: pointer;
}

.budget:hover {
    transform: scale(1.01);
    cursor: pointer;
    opacity: 0.8;
}

.name, .amount, .reset-period {
    color: white;
    display: inline-block;
    overflow-wrap: break-word;
}

.name {
    margin-left: 5%;
    margin-right: 10%;
}

.amount {
    margin-left: 10%;
    margin-right: 10%;
}

.reset-period {
    margin-left: 10%;
    margin-right: 5%;
}